<h1 class= "center-h">Welcome to FlatironReads!</h1>
<h4 class= "center-h"><small>Created by</small> Angie Ramirez <small>and</small> Wesley Davis</h4>

<br>
<br>

<div class="row">
  <div class="col-md-6">
    <h3 class= "center-h">Books</h3>  

    <div class= "box">
     <a href="<%= books_path %>">
       <img src= "http://cdn-media-2.lifehack.org/wp-content/files/2015/05/books-1.jpg">
     </a>
   </div>

   <h3 class= "center-h">User Profiles</h3>  

   <div class= "box">
    <a href="<%= users_path %>">
      <img src= "https://wordservewatercooler.files.wordpress.com/2013/07/bigstock-girl-dreams-reading-the-book-15369656-2.jpg">
    </a>
  </div>
</div>

<div class="col-md-6">

  <h3 class= "center-h">Authors</h3>  

  <div class= "box">
    <a href="<%= authors_path %>">
      <img src= "http://s3.amazonaws.com/media.wbur.org/wordpress/12/files/2013/09/MargaretAtwood.jpg">
    </a>
  </div>

  <h3 class= "center-h">Reviews</h3>  

  <div class= "box">
    <a href="<%= reviews_path %>">
      <img src= "http://www.gabriellasalmon.com/wp-content/uploads/2014/08/expressive_110411_1410x930.jpg">
    </a>
  </div>
</div>

</div>

<hr>
<br>